@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Lexend:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

html, body { background: transparent !important;
}
:root {
  --background: rgba(14, 14, 17, 0.95);
  --background-solid: #0f0f0f;
  --bright-highlight: rgba(229, 227, 227, 0.9);
  --foreground: #f7f2f2;
  --foreground-muted: #8e8d8d;
  --card: #0f0e11;
  --card-foreground: #f7f2f2;
  --popover: #0f0e11;
  --popover-foreground: #f7f2f2;
  --primary: #f7f2f2;
  --primary-foreground: #09090b;
  --secondary: #18181b;
  --secondary-foreground: #8e8d8d;
  --muted: #343434;
  --muted-foreground: #8e8d8d;
  --accent: #343434;
  --accent-foreground: #f7f2f2;
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: #f7f2f2;
  --border: #232323;
  --input: #18181b;
  --ring: #343434;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --toolbar-foreground-active: #c5c5c5;
  --sidebar: transparent;
  --sidebar-foreground: #8e8d8d;
  --sidebar-primary: #343434;
  --sidebar-primary-foreground: #93939A;
  --sidebar-accent: #18181b;
  --sidebar-accent-foreground: #f7f2f2;
  --sidebar-border: #232323;
  --sidebar-ring: #343434;
  --sidebar-tab-accent: rgb(19, 19, 19);
  --sidebar-container-bg: #0E0E11;
  --sidebar-container-border: #1A1A1A;
  --sidebar-foreground: #C6C6C6;
  --sidebar-foreground-active: #f7f2f2;
  --sidebar-accent-foreground: #f7f2f2;
  --sidebar-selected-bg: #18191a;
  --sidebar-item-hover-bg: #18191a;
  --sidebar-icon-hover-bg: #0f0f11;
  --sidebar-selection-indicator: #8b8a8d;
  --icon-hover: rgba(25, 25, 25, 0.585);
  --unselected-icon: #8e8d8d;
  --code-mark-bg-dark: rgba(24, 24, 27, 0.5);
  --code-mark-text-dark: #f7f2f2;
  --link: #f7f2f2;
  --tooltip: #0f0e11;
  --font-sans: "DM Sans", sans-serif;
  --font-mono: "Google Sans Code", monospace;
}

.light {
  /* Light mode (when explicitly toggled) */
  --background: #ffffff;
  --bright-highlight: #000000/50;
  --foreground: #09090b;
  --card: #ffffff;
  --card-foreground: #09090b;
  --popover: #ffffff;
  --popover-foreground: #09090b;
  --primary: #09090b;
  --primary-foreground: #efefef;
  --secondary: #f4f4f5;
  --secondary-foreground: #09090b;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --accent: #f4f4f5;
  --accent-foreground: #09090b;
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: #ffffff;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #71717a;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --toolbar-foreground-active: #c5c5c5;
  --sidebar: #f8f8f8;
  --sidebar-foreground: #09090b;
  --sidebar-primary: #09090b;
  --sidebar-primary-foreground: #efefef;
  --sidebar-accent: #f4f4f5;
  --sidebar-accent-foreground: #09090b;
  --sidebar-border: #e4e4e7;
  --sidebar-ring: #71717a;
  --sidebar-foreground-active: #09090b;
  --sidebar-tab-accent: #rgb(163, 163, 163);
  --unselected-icon: #9f9f9f;
  --code-mark-bg-dark: rgba(244, 244, 245, 0.8);
  --code-mark-text-dark: #09090b;
  --link: #09090b;
  --tooltip: #ffffff;
}

@theme inline {
  --color-bright-highlight: var(--bright-highlight);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-toolbar-foreground-active: var(--toolbar-foreground-active);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-tab-accent: var(--sidebar-tab-accent);
  --font-sans: "DM Sans", sans-serif;
  --font-mono: "Google Sans Code", monospace;
  --color-unselected-icon: var(--unselected-icon);
  --color-sidebar-foreground-active: var(--sidebar-foreground-active);
  --color-link: var(--link);
  --color-tooltip: var(--tooltip);
  --color-code-mark-bg-dark: var(--code-mark-bg-dark);
  --color-code-mark-text-dark: var(--code-mark-text-dark);
  --color-sidebar-container-bg: var(--sidebar-container-bg);
  --color-sidebar-container-border: var(--sidebar-container-border);
  --color-sidebar-selected-bg: var(--sidebar-selected-bg);
  --color-sidebar-item-hover-bg: var(--sidebar-item-hover-bg);
  --color-sidebar-icon-hover-bg: var(--sidebar-icon-hover-bg);
  --color-sidebar-selection-indicator: var(--sidebar-selection-indicator);
  --color-icon-hover: var(--icon-hover);
}

/* Global utility classes */
.icon-interactive {
  @apply text-sidebar-accent-foreground/80 group-hover:text-sidebar-primary-foreground/10 transition-colors duration-300;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror {
  caret-color: #f7f2f2 !important;
}

.ProseMirror * {
  caret-color: #f7f2f2 !important;
}

.ProseMirror {
  line-height: 1.2 !important;
}

::selection { 
  color: #c17bff;
  background: rgba(124, 58, 237, 0.061);
  padding: 2px 6px;
  border-radius: 6px;
}

.dark { --sidebar: hsl(240 5.9% 10%); --sidebar-foreground: hsl(240 4.8% 95.9%); --sidebar-primary: hsl(224.3 76.3% 48%); --sidebar-primary-foreground: hsl(0 0% 100%); --sidebar-accent: hsl(240 3.7% 15.9%); --sidebar-accent-foreground: hsl(240 4.8% 95.9%); --sidebar-border: hsl(240 3.7% 15.9%); --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
 }
  body {
    @apply bg-background text-foreground;
 }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46; /* zinc-700 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b; /* zinc-600 */
}